<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <h2>Alerts</h2>
  <p>Alerts are created with the .alert class, followed by a contextual color classes. Click on <a href="#" >this</a> </p>
  <div class="alert alert-success">
    <strong>Success!</strong> This alert box could indicate a successful or positive action.
  </div>
</div>
<div class="container">
        <label><img src="hand_touch_2.png" alt="logo.png" style="width:22px;">&nbsp;Super Star Chennai</label>
        &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
        <label><img src="hand_touch_2.png" alt="logo.png" style="width:22px;">&nbsp;<kbd>Mumbai Blue</kbd></label>
</div>

<div class="container">
    <div class="row">
    <div class="col-sm-3" >Name :</div>
    <div class="col-sm-9" >Harshul Joshi</div>
    </div>
</div>

<div class="container">
    <form action="" method="POST" class="was-validated">

        <div class="form-check-inline">
            <label class="form-check-label" for="team1">
                <input type="radio" class="form-check-input" id="{{j.4}}" name="optradio" value="{{j.4}}" required>
                My Team 1
            </label>
        </div>

        <div class="form-check-inline">
              <label class="form-check-label" for="team2">
                  <input type="radio" class="form-check-input" id="{{j.5}}" name="optradio" value="{{j.5}}" required>
                  My Team 2
              </label>
        </div>

        <button type="submit" name="xyz" class="btn btn-dark btn-sm" value="xyz">My Choice</button>
        &ensp;
    </form>
</div>

</body>
</html>